<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<h2>Colour seglentation output</h2>
<body>

    
    <div>
        <p>Original Content Image</p>
        <img src="/static/images/content_image.jpg">
        <p>Output of segmentation</p>
        <img src="/static/masks/content/colour_mask.jpg">
    </div>

    <div>
        <p>Original Style Image</p>
        <img src="/static/images/style_image.jpg">
        <p>Output of segmentation</p>
        <img src="/static/masks/style/colour_mask.jpg">
    </div>

    <p>Content and Style images have been segmented into <span>{{n}}</span> regions and style transfer will occur where appropriate.</p>
    <form id="style-form" action="{{ url_for('style_transfer')}}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="type" value="colour">
        <input type="hidden" name="n_colors" value="{{n}}">
        <input type="submit" value="Style Transfer">
    </form>

</body>
</html>