<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <title>Style Transfer App</title>
</head>

<body>

    <!-- Loader -->
    <div class="ui basic modal">
        <div class="ui header">
            <div id="segmentation_loader" class="ui huge text loader"></div>
        </div>
    </div>

    <!-- Menu header bar -->

    <div class="ui brown secondary pointing huge inverted menu" id="navbar">
            <a href="{{ url_for('index')}}" class="active item">
                <i class="paint brush icon"></i>
                <strong>Style Transfer App</strong>
            </a>
            <a class="item">
                <!-- Add item if needed -->
            </a>
            <div class="right menu">
                <a class="ui item">
                    <i class="redo alternate icon"></i>
                    Back
                </a>
                <a href="{{ url_for('index')}}" class="ui item">
                    <i class="home icon"></i>
                    Home
                </a>
            </div>
    </div><br>


    <div class="ui center aligned container main">

        <h1><i class="camera retro icon"></i>
            <strong>Style Transfer App</strong></h1><br>


        <div class="ui form">
            <form id="image-form" action="{{ url_for('masks')}}" method="POST" enctype="multipart/form-data"
                onsubmit="return validate(this);">


                <h4 class="ui horizontal divider header">
                    <i class="image icon"></i>
                    Images Selection
                </h4>

                <div class="ui segment">
                    <div class="ui two column very relaxed grid">

                        <div class="column">
                            <h5>Content Image</h5>

                            <label for="hidden-content-image" class="ui icon button">
                                <i class="file image outline icon"></i>
                                <small>Choose file</small>
                            </label>
                            <input type="file" id="hidden-content-image" onchange="previewContentImage()"
                                name="content_image" accept="image/*" style="display:none" required><br><br>

                            <img class="ui centered medium bordered image" id="content-image" src="" height="200"
                                style="display:none">

                        </div>

                        <div class="column">
                            <h5>Style Image</h5>

                            <label for="hidden-style-image" class="ui icon button">
                                <i class="file image outline icon"></i>
                                <small>Choose file</small>
                            </label>
                            <input type="file" id="hidden-style-image" onchange="previewStyleImage()"
                                name="style_image" accept="image/*" style="display:none" required> <br><br>
                            <img class="ui centered medium bordered image" id="style-image" src="" height="200"
                                style="display:none">

                        </div>

                    </div>

                    <div class="ui vertical divider">
                        &
                    </div>
                </div><br>

                <h4 class="ui horizontal divider header">
                    <i class="tag icon"></i>
                    Transfer Type
                </h4>

                <div class="ui one column center aligned page grid"><br>
                    <div class="ui segment">
                        <h5>Select the type of transfer to execute</h5>

                        <select class="ui dropdown" name="transfer-option" onchange="dispExtraOptions()"
                            id="transfer_select">
                            <option value="full" selected="selected">Full Style Transfer</option>
                            <option value="semantic">Semantic Style Transfer</option>
                            <option value="colour">Colour Style Transfer</option>
                            <option value="threshold">Threshold Style Transfer</option>
                        </select>

                        <div class="ui popup">
                            <div class="header"> Rating</div>
                            <div class="ui star rating" data-rating="3"></div>
                        </div>


                        <div class="ui toggle checkbox" id="region_option">
                            <div class="ui horizontal divider">
                                <i class="map marker alternate icon"></i>
                            </div>
                            <div class="ui segment">
                                <input type="checkbox" name="region_toggle" id="region_toggle" onchange="toggleBaseOption()">
                                <label for="region_toggle">
                                    Toggle the button if you wish to define allowed regions yourself.
                                </label>
                            </div>
                        </div>

                        
                        <div id="colour_option">
                            <div class="ui horizontal divider">
                                <i class="paint brush icon"></i>
                            </div>
                            <input class="ui range" type="range" id="n_colours" name="n_colours" min="2" max="5" value="4"
                                onchange="colourSliderCallback(this)"><br>

                            <label for="n_colours"> Number of colours:
                                <span id="n_colours_label"></span>
                            </label><br><br>

                            <div id="base_option">
                            <div class="ui horizontal divider">
                                <i class="expand icon"></i>
                            </div>
                                <p>Choose <strong>base</strong> image for the colour segmentation.</p>
                                <input type="radio" name="base" value="0"> Content Image <br>
                                <input type="radio" name="base" value="1"> Style Image <br><br>
                            </div>
                        </div>


                        <div id="threshold_option">
                            <div class="ui horizontal divider">
                                <i class="cut icon"></i>
                            </div>
                            <input type="range" id="n_threshold" name="n_threshold" min="1" max="4" value="1"
                                onchange="thresholdSliderCallback(this)"><br>
                            <label for="n_threshold">Number of threshold(s): <span id="n_threshold_label"></span>
                            </label><br><br>
                        </div>

                        <div class="ui horizontal divider">
                            <i class="angle double down icon"></i>
                        </div>

                        <button class="ui button" type="submit">Start Processing</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




</body>

<script src="../static/js/index.js"></script>

</html>