<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <title>Style Transfer App</title>
</head>
<body>

     <!-- Menu header bar -->

     <div class="ui brown secondary pointing huge inverted menu" id="navbar">
            <a href="{{ url_for('index')}}" class="active item">
                <i class="paint brush icon"></i>
                <strong>Style Transfer App</strong>
            </a>
            <a class="item">
                <!-- Add item if needed -->
            </a>
            <div class="right menu">
                <a href="{{ url_for('index')}}" class="ui item">
                    <i class="redo alternate icon"></i>
                    Back
                </a>
                <a href="{{ url_for('index')}}" class="ui item">
                    <i class="home icon"></i>
                    Home
                </a>
            </div>
    </div><br>
    

    <h4 class="ui horizontal divider header">
        <i class="smile outline icon"></i>
        Style Transfer Output
    </h4><br>

    <div class="ui raised container segment">
        <img class="ui fluid image" src="/static/output/{{image}}">
    </div>

    <a href="{{ url_for('download_results')}}" class="ui item">
        <i class="download icon"></i>
        Download
    </a>



</body>
</html>