<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Output</title>
</head>
<body>

    <h4 class="ui horizontal divider header">
        <i class="smile outline icon"></i>
        Style Transfer Output
    </h4><br>

    <div class="ui raised container segment">
        <img class="ui fluid image" src="/static/output/{{image}}">
    </div>



</body>
</html>