<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<h2>Select masks for guided style transfer</h2>
<body>

    
    <div>
        <p>Original Image</p>
        <img src="/static/images/content_image.jpg">
        <p>Output of segmentation</p>
        <img src="/static/masks/content/segmentation_mask.jpg">
        <p>Overlay</p>
        <img src="/static/masks/content/superimposed_image.jpg">
    </div>

    <p>Select the masks you want the style transfer to apply to:</p>

    <p>{{masks|length}} regions were found</p>

    <form id="style-form" action="{{ url_for('style_transfer')}}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="type" value="semantic">
        {% for mask in masks %}
        {% set region = mask.split('_')[1].split('.')[0] %}
        <div>
            <p>{{region}}</p>
            <input type="checkbox" id="{{mask}}" name="{{mask}}"/>
            <label for="{{mask}}"><img src="static/masks/content/{{mask}}" height="200" /></label>
        </div>
        {% endfor %}
        <input type="submit" value="Style Transfer">
    </form>

</body>
</html>